<!--Modal de opciones-->
<div class="modal fade" id="botonOpciones" tabindex="-1" aria-labelledby="tituloModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h5 class="modal-title" id="tituloModal">Menú de Accesibilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <h6>Cambiar el Tema</h6>
                <div class="mb-3">
                    <button id="modoClaro" class="btn btn-light border">Modo Claro</button>
                    <button id="modoOscuro" class="btn btn-dark text-white border">Modo Oscuro</button>
                </div>
                <h6>Cambiar el Tamaño de Letra</h6>
                <div>
                    <button id="letraGrande" class="btn btn-secondary">Letra Grande</button>
                    <button id="letraPequeña" class="btn btn-secondary">Letra Pequeña</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
