<div class="border-bottom mb-3">
    <header class="row justify-content-between navbar">
        <a class="col-1" href="/">
            <img src="/img/escudoUCM.png" alt="Logo de la Universidad Complutense de Madrid" title="Logo UCM" style="width:60%;">
        </a>
        <span class="col-4 align-middle text-center"><h1>Eventos UCM</h1></span>
        <div class="row col-2">
            <a class="col-3 nav-link" href="/inbox">
                <img src="/img/notificaciones.png" style="width:75%;">
            </a>
            <% if (isOrganizador) { %>
                <a class="col-3 nav-link" href="#">
                    <img src="/img/add.png" style="width:75%;" data-bs-toggle="modal" data-bs-target="#nuevoEvento">
                </a>
            <% } %>
            <a class="col-3 nav-link" href="/usuario">
                <img src="/img/usuario.png" style="width:75%;">
            </a>
            <a class="col-3 nav-link" href="#">
                <img src="/img/ajustes.png" style="width:75%;" data-bs-toggle="modal" data-bs-target="#botonOpciones">
            </a>
        </div>
    </header>
</div>