<!--------------------------------MODALES--------------------------->
   
    <!--Modal de opciones-->
    <div class="modal fade" id="botonOpciones" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog"> <!--Estructura de modal-->
            <div class="modal-content"><!--Contenido para el header-body-footer del modal-->
                <div class="modal-header justify-content-between"><!--Header Modal-->
                    <h5 id="tituloModal">Menú de Accesibilidad</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><!--Cuerpo Modal-->
                    <div class="alert alert-success"></div>
                </div>
                <div class="modal-footer"><!--Footer Modal-->
                    <div class="btn btn-dark" type="button" data-bs-dismiss="modal">
                        Cerrar
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/jquery-3.7.1.min.js"></script>

    <!--------------------------AÑADIR EVENTO----------------------------->
     <!--Modal de añadir evento-->
     <div class="modal fade" id="nuevoEvento" tabindex="-2" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <h5 id="tituloEvento1">Nuevo Evento</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"><!--Cuerpo Modal-->
                    <form action="/nuevoEvento" class="text-center" id="nuevoEvento" method="post">
                        <div id="margin-bottom">
                            <b>Titulo</b>
                            <input type="text" class="form-control" name="titulo" required>
                        </div>
                        <div id="margin-bottom">
                            <b>Descripción</b>
                            <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div id="margin-bottom">
                            <b>Fecha</b>
                            <input type="date" class="form-control" name="fecha" required>
                        </div>
                        <div id="margin-bottom">
                            <b>Hora</b>
                            <input type="time" class="form-control" name="hora" required>
                        </div>
                        <div id="margin-bottom">
                            <b>Tipo de evento</b>
                            <select type="text" class="form-control" name="tipo" required>
                                <option>Seminario</option>
                                <option>Taller</option>
                                <option>Conferencia</option>
                            </select>
                        </div>
                        <div id="margin-bottom">
                            <b>Ubicacion</b>
                            <input type="text" class="form-control" name="ubicacion" required>
                        </div>
                        <div id="margin-bottom">
                            <b>Capacidad Maxima</b>
                            <input type="text" class="form-control" name="capacidad" required>
                        </div>
                        <div>
                            <input type="submit" value="Crear Evento" class="btn btn-dark mt-3 col-12">
                        </div>
                    </form>
                </div>
                <div class="modal-footer"><!--Footer Modal-->
                    <div class="btn btn-dark" type="button" data-bs-dismiss="modal">
                        Cerrar
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmación de Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Te has registrado correctamente al evento.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--------------------------------LIBRERIAS--------------------------->

    <!--Librería con popper incluida, necesaria para los modales-->
    <script src="/js/bootstrap.bundle.min.js"></script>