<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inicio Sesión</title>
    <link rel="icon" sizes="192x192" href="/img/icon.png">
</head>
<body>
    <div class="container border border-black rounded-5" id="general-centered">
        <form action="/login" class="text-center" id="inicioSesion" method="post">
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <div class="mt-2" id="margin-bottom">
                <b>Correo</b>
                <% if(typeof correo !== 'undefined') { %>
                <input type="email" class="form-control" name="correo" value= <%= correo %> required>
                <% } else { %>
                <input type="email" class="form-control" name="correo" placeholder="Correo Electrónico" required>
                <% } %>
            </div>
            <div id="margin-bottom">
                <b>Contraseña</b>
                <input type="password" class="form-control" name="contraseña" placeholder="Contraseña" required>
            </div>
            <div class="form-check col-1">
                <input type="checkbox" class="form-check-input" name="recordar" id="exampleCheck1">
                <label class="form-check-label" for="recordar">Recuérdame</label>
            </div>
            <div>
                <button type="submit" class="btn btn-dark mt-3 mb-3 col-12">Iniciar sesión</button>
            </div>
            <div class="justify-content-between" id="display-flex-margin-bottom">
                <div class="col-3">
                    <a href="/recuperarPassword" class="link-dark"><b><u>¿No recuerda su contraseña?</u></b>
                </div>
                <div class="col-3">
                    <a href="/registro" class="btn btn-dark">Registrarse</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>