.initial-avatar {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Colors */
    background-color: #d1d5db;
    color: #fff;

    /* Rounded border */
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.text-singleline{
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.email-list-warpper{
    background-color: #f2f4f6;
}
.list-group{
    border: none;
}
.list-group-item{
    background-color: transparent;
    border: none;
}
.list-group-item.active{
    background-color: #fff;
}