*{
    margin: 0px;
    padding: 0px;
}

/*ids para los margenes necesarios*/
#general{
    margin: 0px;
}
#general-centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#general-horizontal{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
#registroSesion{
    padding: 5px;
    margin: 5px;
}

#display-flex-margin-bottom{
    display: flex;
    margin-bottom: 10px;
}
#display-flex{
    display: flex;
}
#margin-bottom{
    margin-bottom: 10px;
}
